@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.Main-Task-div {
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Todo-div {
  display: flex;
  width: 40.35vw;
  height: 45.57vh;
  flex: wrap;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  border-radius: 1em 1em 1em 1em;
  border: 2px solid #e6e6e6;
  overflow: scroll;
  animation-name: FadeIn;
  animation-duration: 1s;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.Todo-div::-webkit-scrollbar {
  width: 0;
}

.title-div {
  height: 20vh;
  width: 30vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.searchText {
  border-radius: 2px;
  font-size: x-small;
  height: 5vh;
  width: 13vw;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #e6e6e6;
}

.addtask-div {
  width: 18vw;
  height: 6vh;
  display: flex;
  align-items: center;
}
#closebtn {
  width: 1.5vw;
  height: 1.5vw;
  margin-left: 1.777vw;
}
.signout-div {
  display: flex;
  width: 15vw;
  font-size: 1vw;
  height: 8.9vh;
  align-items: center;
  justify-content: center;
}

.signoutbtn {
  height: 4.466vh;
  width: 4.504vw;
  border-radius: 2px;
  border: 2px solid #ffab2e;
  font-weight: bold;
  font-size: 0.5vw;
  color: #ffab2e;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.signoutbtn:hover {
  background-color: #ffab2e;
  color: #ffffff;
  border: 2px solid #ffab2e;
}
.searchText:hover {
  border: 2px solid #ffab2e;
  border-radius: 4px;
}

@media (max-width: 600px) and (max-height: 1000px) {
  .Main-Task-div {
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Todo-div {
    display: flex;
    width: 80vw;
    height: 40vh;
    flex: wrap;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    border-radius: 1em 1em 1em 1em;
    border: 2px solid #e6e6e6;
    overflow: scroll;
    animation-name: FadeIn;
    animation-duration: 1s;
  }

  @keyframes FadeIn {
    0% {
      opacity: 0;
    }

    45% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  .Todo-div::-webkit-scrollbar {
    width: 0;
  }

  .title-div {
    height: 20vh;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .signout-div {
    display: flex;
    width: 35vw;
    font-size: 3vw;
    height: 8.9vh;
    align-items: center;
    justify-content: center;
  }

  .signoutbtn {
    height: 3vh;
    width: 13vw;
    border-radius: 2px;
    border: 2px solid #ffab2e;
    font-weight: bold;
    font-size: 1.8vw;
    color: #ffab2e;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
  }

  .signoutbtn:hover {
    background-color: #ffab2e;
    color: #ffffff;
    border: 2px solid #ffab2e;
  }

  .addtask-div {
    width: 36vw;
    height: 3vh;
    display: flex;
    align-items: center;
  }

  .searchText {
    border-radius: 2px;
    font-size: 1.8vw;
    height: 3vh;
    width: 26vw;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #e6e6e6;
  }

  #closebtn {
    width: 4vw;
    height: 4vw;
    margin-left: 1.777vw;
  }

  .searchText:hover {
    border: 2px solid #ffab2e;
    border-radius: 4px;
  }
}
