@font-face {
  font-family: "pt";
  src: url("./fonts/Product_sans/Product\ Sans\ Regular.ttf");
}
.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "pt";
}

.fade {
  width: 100%;
  height: 100%;
  animation-name: FadeIn;
  animation-duration: 2s;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
